<%= form_for @consultor, :html => { :class => "form-horizontal consultor" } do |f| %>

  <% if @consultor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@consultor.errors.count, "error") %> prohibited this consultor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @consultor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :cpf, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cpf, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cpf) %>
  </div>
  <div class="form-group">
    <%= f.label :rede_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <% if @todas_redes != nil %>
       <%= f.collection_select(:rede_id, @todas_redes, :id, :nome,:class => 'form-control')%>
    <% end %>   
    </div>
    <%=f.error_span(:rede_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                consultors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
