<%- model_class = Consultor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:rede_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @consultors.each do |consultor| %>
      <tr>
        <td><%= link_to consultor.id, consultor_path(consultor) %></td>
        <td><%= consultor.nome %></td>
        <td><%= consultor.cpf %></td>
        <td><%= consultor.rede_id %></td>
        <td><%=l consultor.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      consultor_path(consultor), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_consultor_path(consultor), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Deletar', delete_consultor_path(consultor), data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_consultor_path,
            :class => 'btn btn-primary' %>
