<%- model_class = Consultor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @consultor.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= @consultor.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rede_id) %>:</strong></dt>
  <dd><%= @consultor.rede_id %></dd>
</dl>

<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Empresas: </th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <% if @empresas != nil %>	
		    <% if @empresas.size > 0 %>
		      <% @empresas.each do |empresa| %>
		        <tr>
		          <td><%= link_to empresa.nome, empresa %></td>
		        </tr>
		      <% end %>  
		    <% else %>  
		      <tr>
		        <td>Não possui vinculo com empresas.</td>
		      </tr>
		    <% end %>
		<% end %>    
	  </tbody>
	</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
              consultors_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultor_path(@consultor), :class => 'btn btn-default' %>
<%= link_to 'Deletar', delete_consultor_path(@consultor), data: { confirm: 'Você tem certeza?' } %>
