<%- model_class = Rede -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @redes.each do |rede| %>
      <tr>
        <td><%= link_to rede.id, rede_path(rede) %></td>
        <td><%= rede.nome %></td>
        <td><%=l rede.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      rede_path(rede), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rede_path(rede), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Deletar', delete_rede_path(rede) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rede_path,
            :class => 'btn btn-primary' %>
