<%- model_class = Rede -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @rede.nome %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              redes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rede_path(@rede), :class => 'btn btn-default' %>
<%= link_to 'Deletar', delete_rede_path(@rede) %>
