<%= form_for @empresa, :html => { :class => "form-horizontal empresa" } do |f| %>

  <% if @empresa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @empresa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :cnpj, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cnpj, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cnpj) %>
  </div>
  <div class="form-group">
    <%= f.label :venda, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :venda, :class => 'form-control' %>
    </div>
    <%=f.error_span(:venda) %>
  </div>
  <div class="form-group">
    <%= f.label :gasto, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gasto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gasto) %>
  </div>
  <% if @empresa_consultores != nil %>
    <%= f.fields_for(@empresa_consultores) do |ce| %>
      <div class="form-group">
        <%= ce.label "Consultores", :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= collection_select(:consultors, :id, @todos_consultores, :id, :nome, {}, {multiple: true})%>
          </div>
      </div>
    <% end %>
  <% end %> 
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                empresas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
