<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:cnpj) %></th>
      <th><%= model_class.human_attribute_name(:venda) %></th>
      <th><%= model_class.human_attribute_name(:gasto) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= link_to empresa.id, empresa_path(empresa) %></td>
        <td><%= empresa.nome %></td>
        <td><%= empresa.cnpj %></td>
        <td><%= empresa.venda %></td>
        <td><%= empresa.gasto %></td>
        <td><%=l empresa.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      empresa_path(empresa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_empresa_path(empresa), :class => 'btn btn-default btn-xs' %>
          <td><%= link_to 'Deletar', delete_empresa_path(empresa) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_empresa_path,
            :class => 'btn btn-primary' %>
