<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @empresa.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= @empresa.cnpj %></dd>
  <dt><strong><%= model_class.human_attribute_name(:venda) %>:</strong></dt>
  <dd><%= @empresa.venda %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gasto) %>:</strong></dt>
  <dd><%= @empresa.gasto %></dd>
</dl>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Consultores: </th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody>
      <% if @consultores != nil %> 
        <% if @consultores.size > 0 %>
          <% @consultores.each do |consultor| %>
            <tr>
              <td><%= link_to consultor.nome, consultor %></td>
            </tr>
          <% end %>  
        <% else %>  
          <tr>
            <td>Não possui vinculo com consultores.</td>
          </tr>
        <% end %>
    <% end %>    
    </tbody>
  </table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              empresas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_empresa_path(@empresa), :class => 'btn btn-default' %>
<td><%= link_to 'Deletar', delete_empresa_path(@empresa) %></td>
